<!-- Start Footer 
    ============================================= -->
{% load static %}
<footer class="bg-dark text-light">
  <div class="container">
    <div class="f-items default-padding">
      <div class="row">
        <div class="col-lg-4 col-md-6 item">
          <div class="f-item about">
            <img src="{% static 'img/black_elites.png' %}" alt="Logo" style="height: 100px" />
            <p>Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing.</p>
            <form action="#">
              <input type="email" placeholder="Your Email" class="form-control" name="email" />
              <button type="submit"><i class="arrow_right"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 item">
          <div class="f-item link">
            <h4 class="widget-title">Quick LInk</h4>
            <ul>
              <li>
                <a href="{% url 'home' %}"><i class="fas fa-angle-right"></i> Home</a>
              </li>
              <li>
                <a href="{% url 'about' %}"><i class="fas fa-angle-right"></i> About us</a>
              </li>
              <li>
                <a href="{% url 'about' %}"><i class="fas fa-angle-right"></i> Compnay History</a>
              </li>

              <li>
                <a href="#"><i class="fas fa-angle-right"></i> Blog Page</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 item">
          <div class="f-item link">
            <h4 class="widget-title">Community</h4>
            <ul>
              <li>
                <a href="#"><i class="fas fa-angle-right"></i> Career</a>
              </li>
              <li>
                <a href="{% url 'team' %}"><i class="fas fa-angle-right"></i> Leadership</a>
              </li>

              <li>
                <a href="{% url 'services' %}"><i class="fas fa-angle-right"></i> Services</a>
              </li>
              <li>
                <a href="{% url 'about' %}"><i class="fas fa-angle-right"></i> History</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 item">
          <div class="f-item contact-widget">
            <h4 class="widget-title">Contact Info</h4>
            <div class="address">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fas fa-home"></i>
                  </div>
                  <div class="content">
                    <strong>Address:</strong>
                    23, Hills View Estate, Zone 1, Lifecamp, Abuja. <br />
                    ZC 24, Kabiru Auta Street, Off Zoo Road, Kano
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="content">
                    <strong>Email:</strong>
                    <a href="mailto:info@validtheme.com">contact@blackelites.com</a>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-phone"></i>
                  </div>
                  <div class="content">
                    <strong>Phone:</strong>
                    <a href="tel:2151234567"> +234 703 828 3206</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-box">
        <div class="row">
          <div class="col-lg-6">
            <p>&copy; Copyright 2023. All Rights Reserved by <a href="#">Black Elites</a></p>
            Powered By <a href="">Focalleap</a>
          </div>
          <div class="col-lg-6 text-right link">
            <ul>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
      ============================================= -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.13711.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/progress-bar.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/count-to.js' %}"></script>
<script src="{% static 'js/YTPlayer.min.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
