{% extends 'partials/base.html' %} {% block content %}{% load static%}
<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url(assets/img/2440x1578.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>Contact Us</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="active">Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Contact Area 
    ============================================= -->
<div class="contact-area default-padding bg-theme inc-shape extra-margin">
  <div class="container">
    <div class="row align-center">
      <div class="col-lg-5 info">
        <div class="content">
          <h2>Let's talk?</h2>
          <p>It's all about the humans behind a brand and those experiencing it, we're right there. In the middle performance quick.</p>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <p>
                22 Baker Street, <br />
                London, United Kingdom, <br />
                W1U 3BW
              </p>
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <p>
                +44-20-7328-4499 <br />
                +99-34-8878-9989
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 contact-form-box">
        <div class="form-box">
          <form action="assets/mail/contact.php" method="POST" class="contact-form">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" />
                  <span class="alert-error"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" id="email" name="email" placeholder="Email*" type="email" />
                  <span class="alert-error"></span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text" />
                  <span class="alert-error"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group comments">
                  <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button type="submit" name="submit" id="submit">Send Message <i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
            <!-- Alert Message -->
            <div class="col-lg-12 alert-notification">
              <div id="message" class="alert-msg"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Area -->

{% endblock content %}
